<div class="topcoat-navigation-bar">
    <div class="topcoat-navigation-bar__item center full">
        <h1 class="topcoat-navigation-bar__title">Login</h1>
    </div>
</div>
<br>
<div class="center">
  <form>
    <input
    class="topcoat-text-input"
    name="email"
    type="email"
    value="<%= user.email %>"
    placeholder="Email"
    >
    <br>
    <br>
    <input
    class="topcoat-text-input"
    name="password"
    type="password"
    value="<%= user.password %>"
    placeholder="Password"
    >
    <br>
    <br>
    <ul class="topcoat-list__container">
      <% _.each(errores, function(error){ %>
        <li class="topcoat-list__item">
          <p style="color: red"><%= error.message %></p>
        </li>
      <% }); %>
    </ul>
  </form>
  <br>
  <button class="topcoat-button--cta login">Loguear</button>
</div>
